{% extends "base.html" %}

{% block content %}
<h2>Welcome to Modbus Controller v3</h2>
<ul>
<li>Use DB Admin to edit or add new plants. You have to manually ask a synchronization of your configuration in the Control panel.</li>
<li>Use the Control panel to start/restart/stop/status a plant's controller and sync the configuration.</li>
<li>Use the templates page to view which templates populate the database.</li>
<li>Go to "upload a template" to add a new xml file to the server.</li>
<li>Use the Login page to change your user.</li>
<li>Logout page.</li>


</ul>

 {% endblock %}